/* google font */

body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

#banner p {
    font-size: 20px;
}

p {
    font-size: 18px;
}

/* first banner section with h1, p and button */

#banner {
    background-image: url(images/canva.png);
    background-repeat: no-repeat;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner-title {
    margin: 0%;
    color: rgb(255, 255, 255);
    font-size: 55px;
    font-weight: 900;

}

.white-p {
    color: white;
}

/* button */

.red-button {
    background-color: rgb(255, 89, 89);
    border: none;
    color: rgb(255, 255, 255);
    margin: 20px 20px 20px;
    padding: 15px 20px 14px 20px;
    font: 20px sans-serif;
    border-radius: 5px;
    font-size: 20px;
}

/* second section */

#donate-section {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 130px;
}

.donate {
    font-size: 50px;
    font-weight: 900;
}

.amount {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 40px;
}

.unselected-amount {
    padding: 45px 40px;
    border-radius: 5px;
    font-weight: 900;
    font-size: 20px;
    color: rgb(159, 159, 159);
    margin: 10px;
    background-color: rgba(234, 234, 234, 0.522);
}

#selected-amount {
    padding: 45px 40px;
    border: 2px solid rgb(255, 89, 89);
    background-color: rgb(255, 244, 244);
    border-radius: 5px;
    font-weight: 900;
    font-size: 20px;
    color: rgb(255, 89, 89);
    margin: 10px;
}

.other-amount {
    border-bottom: 2px solid gray;
    text-align: center;
    border-right: 0px;
    border-left: 0px;
    border-top: 0px;
    padding: 10px 200px 10px;
    font-size: 25px;
}

/* <!-- donate plan (3rd section) --> */

#donate-plan {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 130px;
}

#plans {
    display: flex;
    justify-content: center;
}

.card-title {
    font-size: 23px;
    font-weight: 800;
}

.plan-card {
    display: block;
    padding: 60px 25px 54px;
    text-align: justify;
    background-color: lightcyan;
    border-radius: 8px;
    width: 352px;
    margin: 24px;

}

.plan-card2 {
    display: block;
    padding: 60px 25px 54px;
    text-align: justify;
    background-color: rgb(224, 255, 224);
    border-radius: 8px;
    width: 352px;
    margin: 24px;

}

.plan-card3 {
    display: block;
    padding: 60px 25px 54px;
    text-align: justify;
    background-color: rgb(255, 255, 224);
    border-radius: 8px;
    width: 352px;
    margin: 24px;

}

.plan-card img {
    width: 58.13px;
    height: 49.77px;
}

.plan-card2 img {
    width: 58.13px;
    height: 49.77px;
}

.plan-card3 img {
    width: 58.13px;
    height: 49.77px;
}

/* subscribe section (5th) */

#subscribe-section {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 130px;
}

.give-email {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 700px;
    margin-top: 60px;
    background-color: rgb(255, 244, 214);
    margin-left: auto;
    margin-right: auto;
}

.input-email {
    height: 40px;
    width: 200px;
    margin: 0px;
    padding-left: 15px;
    background-color: rgb(220, 220, 220);
    border: 0px;
    font-size: 18px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#submit-button {
    border: 0px;
    width: 150px;
    color: white;
    font-size: 18px;
    padding: 10px;
    margin-left: auto;
    text-align: center;
    background-color: rgb(255, 89, 89);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}













/* footer */

footer {
    background-color: black;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 150px;
}

.humble {
    font-size: 70px;
    font-family: 'The Nautigal', cursive;
    color: firebrick;
}

footer p {
    display: block;
    font-size: 20px;
    color: rgb(255, 255, 255);
}